@font-face {
    src = url("../Fonts/ReemKufi-VariableFont_wght.ttf");
    font-family: 'Reem Kufi', sans-serif;
}

body {
    font-family: 'Reem Kufi', sans-serif;
}

.searchdiv {
    float: right;
    border-radius: 4px;
    border: 1px solid silver;
    padding: 4px;
    text-align: center;
    font-size: 14px;
}

    .searchdiv input {
        border: 0;
    }

        .searchdiv input:focus {
            border: 0;
            outline: none;
        }

.vavbar {
    float: right;
}

    .vavbar .nav-item {
        margin: 0 15px 0 0
    }

.img-Profile {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.btn_save_profile {
    margin-top: 25px;
    display: block;
    width: 100%;
}

.inputError {
    border: 1px solid red
}

.img-profiles {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    object-fit: cover;
    margin-left: 25px
}

.LoginPhoto {
    width: 35px;
    height: 35px;
    border-radius: 75px;
    object-fit: cover;
}

.ProfileName {
    font-family: 'Reem Kufi', sans-serif;
}

    .ProfileName h3 {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.btned {
    background-color: transparent;
    border: 1px solid silver;
    border-radius: 4px;
    font-family: 'Reem Kufi', sans-serif;
    margin-left: 20px;
    flex: 0 1 auto;
    justify-content: flex-start;
    box-pack: start;
    flex-direction: row;
    box-align: stretch;
}


.btned:focus {
    outline: none;
}

.Follwing {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.-nal3, .-nal3:active, .-nal3:visited, .-nal3:hover {
    color: inherit;
}




.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    margin: auto 43%;
}